.chat-btn {
  position: absolute;
  top: 7px;
  left: 70px;
  font-size: 32px;
  z-index: 100;
  .badge {
    position: absolute;
    top: 5px;
    right: -10px;
    font-size: rem-calc(9);
    padding-top: 3px;
  }
  .new-messages {
    color: $energized;
  }
  @include breakpoint(medium down) {
    position: fixed;
    top: auto;
    bottom: 15px;
    left: auto;
    right: 15px;
    background-color: $darkest;
    border-radius: 50%;
    padding: 4px 15px !important;
    .badge {
      top: 8px;
      right: 2px;
    }
  }
  @include breakpoint(small down) {
    bottom: 55px;
  }
}
.chat-btn-dashboard {
  @include breakpoint(medium down) {
    bottom: 15px;
  }
}
// Chat item, item-header, item-list, item-dividers
// ------------------------------------------------------------
.item-list-messages {
  .sidebar-item-content {
    margin: 0 0 0 20px;
    overflow: hidden;
  }
  .messages-list-content {
    max-height: 300px;
  }
  .chat-list-content {
    overflow: hidden;
  }
  .user-name,
  a.user-name {}
  .message-time {
    font-size: rem-calc(12);
    color: $dark-gray;
    margin-bottom: -1px;
  }
  .message-text,
  a.message-text {
    display: block;
    color: $stable;
    font-size: rem-calc(14);
    margin-bottom: -2px !important;
  }
  .badge {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .single-line-text {
    width: 100% !important;
  }
  .new-message-btn {
    position: absolute;
    top: 9px;
    left: 10px;
    padding: 1px 5px 3px 7px !important;
    font-size: rem-calc(22) !important;
  }
  .new-message-btn-modal {
    top: 9px;
    left: 10px;
  }
}
.item-list-messages-select {
  .messages-list-content {
    max-height: 600px;
  }
}
// Message create
// ------------------------------------------------------------
.message-create-content {
  max-height: 600px;
  @include breakpoint(medium down) {
    margin-bottom: 65px;
    max-height: 100%;
  }
}
// Chat show
// ------------------------------------------------------------
.chat-show-wrapper {
  background: $energized;
  position: relative;
}
.chat-show-header {
  position: relative;
  background: darken($energized, 6%);
  padding-right: 10px !important;
  padding-left: 10px !important;
  h3 {
    color: $stable;
    margin-bottom: -5px;
    width: 60% !important;
  }
}
a.chat-show-adventurers {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: rem-calc(14);
  color: $stable;
  @include breakpoint(medium down) {
    display: none;
  }
}
.chat-show-content {
  height: 543px;
  overflow: auto;
  padding: 20px 0 0;
  background: $energized;
  @include breakpoint(medium down) {
    padding: 20px;
    height: 100%;
    margin-bottom: 40px;
  }
}
.chat-show-footer {
  position: relative;
  width: 100%;
  background: darken($energized, 6%);
  margin-bottom: $module-spacing;
  @include breakpoint(medium down) {
    position: fixed;
    top: auto;
    bottom: 0;
    z-index: 10;
    margin-bottom: 0;
  }
  .input-group {
    padding: 10px;
    margin-bottom: 0;
  }
  .input-group-button {
    border-left: 4px solid darken($energized, 6%);
  }
  textarea {
    min-height: 0;
    height: 40px;
    background: $dark !important;
    padding: 9px 10px 5px;
    font-size: rem-calc(14);
  }
  .new-message-send-btn {
    height: 40px;
  }
}
.chat-bubble {
  position: relative;
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 20px;
  max-width: 600px;
  min-height: 40px;
  border-radius: 15px;
  &:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
  }
  &.left {
    color: $darker !important;
    background-color: $stable;
    float: left;
    margin-left: 80px;
    z-index: 1;
    @include breakpoint(medium down) {
      margin-left: 45px;
    }
  }
  &.left:before {
    width: 35px;
    height: 25px;
    background-color: $stable;
    bottom: 0;
    left: -18px;
  }
  &.right {
    color: $stable !important;
    float: right;
    margin-right: 80px;
    background-color: $calm;
    z-index: 1;
    @include breakpoint(medium down) {
      margin-right: 45px;
    }
  }
  &.right:before {
    width: 35px;
    height: 25px;
    bottom: 0;
    right: -18px;
    background-color: $calm;
    z-index: 1;
  }
  .chat-text {
    white-space: pre-line;
    margin-bottom: 10px;
    line-height: 1.1em;
  }
  .chat-detail {
    font-size: rem-calc(12);
    color: rgba($darker, 0.5)  !important;
    span {
      font-style: italic;
    }
  }
}
// Chat show sidebar
// ------------------------------------------------------------
.item-list-chat {
  margin-bottom: $module-spacing;
  .item-list-header {
    position: relative;
    background: darken($energized, 3%);
    cursor: pointer;
    h3 {
      color: $stable;
    }
  }
  .chat-list-content:before,
  .item-list-header:before {
    position: absolute;
    left: 20px;
    top: 13px;
    font-family: "Ionicons";
    color: $stable;
    content: "\f123";
    z-index: 2000 !important;
    background: darken($energized, 3%);
  }
  .chat-list-content:before {
    content: "\f126";
  }
  .chat-list-content {
    display: none;
    margin-bottom: 0 !important;
  }
  .chat-show-header {
    display: none;
  }
  .chat-show-content {
    color: $darker !important;
    height: auto;
    max-height: 313px;
    overflow: auto;
    background: $energized;
  }
  .chat-bubble {
    max-width: 60%;
    p {
      font-size: rem-calc(14);
    }
  }
}
// Message badge
// -----------------------------------------------------------------------------------
.badge-message {
  position: relative;
  background-color: $alert-color;
  color: $stable;
  .badge-message-arrow {
    position: absolute;
    bottom: -5px;
    left: 4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0 7px;
    border-color: transparent transparent transparent $alert-color;
    transform: rotate(100deg);
  }
}
// Avatars
// -----------------------------------------------------------------------------------
.chat-pic-left,
.chat-pic-right {
  position: absolute;
  display: block;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  bottom: 0 !important;
  box-shadow: 0 -1px 0 11px $energized;
  background-color: lighten($energized, 5%) !important;
  img {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
}
.chat-pic-left {
  left: -56px;
  z-index: 10;
}
.chat-pic-right {
  right: -56px;
  z-index: 10;
}
// Custom Scrollbar (only for Chrome, Safari)
// ------------------------------------------------------------
.chat-show-wrapper {
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-button {
    background-color: darken($energized, 10%);
  }
  ::-webkit-scrollbar-track {
    background-color: darken($energized, 15%);
  }
  ::-webkit-scrollbar-arrow-color {
    background-color: $stable;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: darken($energized, 15%);
  }
  ::-webkit-scrollbar-thumb {
    background-color: lighten($energized, 5%);
  }
  ::-webkit-scrollbar-corner {
    background-color: $darkest;
  }
  ::-webkit-resizer {
    background-color: $dark;
  }
}
