// Global item text
// ------------------------------------------------------------
.adventure-type,
a.adventure-type {
  position: relative;
  display: inline-block;
  color: $energized;
  font-size: rem-calc(14);
  @include breakpoint(small down) {
    display: block;
  }
}
.adventure-time {
  color: $stable;
  font-size: rem-calc(14);
  float: right;
  text-transform: uppercase;
  margin-left: 10px;
  @include breakpoint(small down) {
    font-size: rem-calc(12);
  }
}
.adventure-name,
a.adventure-name {
  color: $stable;
  font-size: rem-calc(18);
  text-transform: capitalize;
  width: 100% !important;
}
.adventure-location,
a.adventure-location {
  color: $dark-gray;
  font-size: rem-calc(12);
  text-transform: capitalize;
}
.adventure-number {
  width: 100%;
  text-align: left;
  text-transform: capitalize;
  color: $dark-gray;
  span {
    font-size: 0.9em;
    margin-left: 10px;
    color: $balanced;
  }
  @include breakpoint(small down) {
    margin-top: 20px;
  }
}
.adventure-users {
  width: 100%;
  text-align: left;
  margin-top: 5px;
  text-transform: capitalize;
  @include breakpoint(medium down) {
    text-align: left;
    a {
      margin-right: 0;
    }
  }
}
.user-name,
a.user-name {
  display: inline;
  font-size: rem-calc(14);
  color: $stable;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}
.messages-list-content {
  .user-name {
    font-size: rem-calc(12) !important;
  }
}
.friends-number,
a.friends-number {
  font-size: rem-calc(14);
  color: $dark-gray;
  text-transform: capitalize;
}
.item-friend {
  .single-line-text {
    width: 100% !important;
  }
}
.item-friend-request {
  .single-line-text {
    @include breakpoint(medium down) {
      width: 65% !important;
    }
  }
}
// Item containers: Item, item-header, item-list, item-dividers
// ------------------------------------------------------------
.item-list {
  position: relative;
}
.item-list-header {
  position: relative;
  display: block;
  background: $darker;
  padding: 10px 30px !important;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  i {
    font-size: rem-calc(19);
    vertical-align: middle;
  }
  h3 {
    font-size: rem-calc(18);
    display: inline-block;
    margin: 0;
    color: $energized;
  }
  .tally {
    display: inline-block;
    margin-left: 5px;
    color: $alert-color;
    font-weight: bold;
  }
}
.item-list-badge {
  position: absolute;
  top: 13px;
  left: 37px;
  z-index: 2;
}
.item-list-divider {
  background: rgba($darkest, 1);
  color: $dark-gray;
  font-size: rem-calc(14);
  padding: 10px 10px 10px 30px;
  margin-top: -4px;
}
.item-list-divider:first-child {
  margin-top: 1px;
}
.item-list-content {
  min-height: 300px;
  overflow-y: auto;
  z-index: 2;
}
.item-content {
  position: relative;
  z-index: 2;
}
.item {
  position: relative;
  padding: 20px 30px;
  margin-bottom: 4px;
  overflow: hidden;
  background: rgba($darker, 0.6);
}
.item:last-child {
  margin-bottom: 0;
}
.item-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/backgrounds/image2.jpg");
  opacity: 0.25;
  z-index: 1;
  filter: blur(1px);
}
.club-list-content,
.friend-list-content,
.invite-list-content,
.messages-list-content {
  height: auto;
  max-height: 313px;
  overflow-y: auto;
  margin-bottom: $module-spacing;
}
.friend-list-content {
  max-height: 298px;
}
.friend-select-content {
  margin-bottom: $module-spacing;
}
.club-list-content {
  max-height: 288px;
}
.item-club,
.item-friend,
.item-invite {
  background: $darker;
  border-bottom: 0 solid $darkest;
  box-shadow: 93px -3px 0 -2px $darkest;
  padding: 15px 20px 20px;
  margin-bottom: 0;
  overflow: hidden;
  .adventure-time {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  a.adventure-name,
  a.adventure-type {
    font-size: rem-calc(14);
    text-transform: capitalize;
    width: 100% !important;
    margin: 0 !important;
  }
  .adventure-number {
    font-size: rem-calc(14);
    text-align: left;
  }
  .adventure-location {
    font-size: rem-calc(14);
    text-align: left;
  }
}
.friend-select,
.friend-user {
  @include breakpoint(large up) {
    box-shadow: inset 0 -3px 0 -2px $darkest;
    border-right: 1px solid $darkest;
  }
}
.item-club {
  .adventure-location,
  .adventure-number {
    font-size: rem-calc(12);
  }
}
.sidebar-item-image {
  display: inline-block;
  float: left;
  margin-left: 0;
  margin-top: 6px;
  max-width: 55px;
  text-align: center;
}
.sidebar-item-content {
  display: inline-block;
  margin-left: 20px;
  width: 60%;
  .adventure-number {
    margin: 0;
  }
}
.item-friend {
  .sidebar-item-content {
    margin: 10px 0 10px 20px;
  }
}
// User / message selected
// ------------------------------------------------------------
.friend-select,
.message-select {
  cursor: pointer;
  transition: all 0.15s linear;
  .user-selected-check {
    display: none;
  }
}
.friend-select-active,
.message-select-active {
  background-color: $energized;
  cursor: pointer;
  transition: all 0.15s linear;
  .user-selected-check {
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    right: 30px;
    color: $stable;
    font-size: rem-calc(28);
  }
  .adventure-location,
  .message-time {
    color: $dark !important;
  }
}
// Search
// ------------------------------------------------------------
.input-search-friends {
  margin-top: 0;
  margin-bottom: $module-spacing;
  .input-group-label {
    padding-right: 15px;
  }
  .input-group-label,
  input {
    background: rgba($energized, 0.75);
    border: 0 !important;
  }
  input:focus {
    background: rgba($energized, 1);
  }
}
.search-dropdown {
  margin-bottom: 0;
  display: none;
  input {
    text-align: center;
    font-size: rem-calc(18);
  }
}
.search-show {
  display: block;
}
.search-header-left {
  display: block;
  left: 60px !important;
  color: $stable;
  @include breakpoint(medium down) {
    left: 50px !important;
  }
  a {
    color: $stable;
  }
}
// Item List Custom Scrollbar (only for Chrome, Safari)
// ------------------------------------------------------------
.item-list {
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-button {
    background-color: $dark;
  }
  ::-webkit-scrollbar-track {
    background-color: $dark;
  }
  ::-webkit-scrollbar-arrow-color {
    background-color: $stable;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: $darkest;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $dark-lighter;
  }
  ::-webkit-scrollbar-corner {
    background-color: $darkest;
  }
  ::-webkit-resizer {
    background-color: $dark;
  }
}
// Reveal
// ------------------------------------------------------------
.item-list-reveal {
  padding: 0 !important;
  background: $darker;
  .club-list-content,
  .friend-list-content,
  .invite-list-content,
  .messages-list-content {
    height: auto !important;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: $module-spacing;
    @include breakpoint(small down) {
      margin-bottom: rem-calc(0);
      max-height: 100% !important;
    }
  }
}
