.overlay-loader {
  position: relative;
  width: 100%;
  min-height: 300px;
  text-align: center;
  padding: 40px;
  z-index: 1040;
  margin-bottom: rem-calc(15);
}
.loader-icon {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
}
.loader-icon {
  &.spinning-gear-1 {
    animation: spinning-gear-1 2s infinite linear;
  }
}
@keyframes spinning-gear-1 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
