<div class="footer-content-wrapper">
  <div class="footer-content row">
    <div class="large-12 medium-12 columns">
      <h5 class="footer-heading">Download Our Apps</h5>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <div class="app-icon">
            <a href="https://bnc.lt/yazda" title="Download from App Store or Google Play" target="_blank"><img src="assets/img/icons/YazdaAppIcon.png" alt="Yazda app icon"></a>
          </div>
          <div class="app-info">
            <h6>Yazda</strong></h6>
            <p>Find your next mountain biking or hiking adventure.</p>
            <a href="https://bnc.lt/yazda" title="Download from App Store or Google Play" target="_blank">Download</a>
          </div>
        </div>
        <div class="large-6 medium-6 columns">
          <div class="app-icon">
            <a href="https://bnc.lt/m/quEQxwC2zo" title="Download from App Store or Google Play" target="_blank"><img src="assets/img/icons/TrailStatusAppIcon.png" alt="Trail Status app icon"></a>
          </div>
          <div class="app-info">
            <h6>Trail Status</strong></h6>
            <p>Get up-to-date conditions for select trails.</p>
            <a href="https://bnc.lt/m/quEQxwC2zo" title="Download from App Store or Google Play" target="_blank">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
