<form id="form-adventure-create" class="form-create" method="post">

  <!-- Error -->
  <div data-abide-error class="alert callout" style="display: none;">
    <p>Aww nuts! You have some errors. Please correct them.</p>
  </div>
  <!-- End error -->

  <ul class="tabs adventure-create-tabs" data-tabs id="adventure-create-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true"><i class="icon-adventure-add"></i> Create</a></li>
    <li class="tabs-title"><a href="#panel2"><i class="icon-invites"></i> Invite</a></li>
  </ul>

  <div class="tabs-content adventure-create-tabs-content" data-tabs-content="adventure-create-tabs">
    <div class="tabs-panel is-active" id="panel1">
      <div class="expanded row">
        <div class="large-12 columns adventure-type-select-container">
          <h3 class="text-center">What's your <strong>adventure</strong> style?</h3>
          <div class="menu-centered">
            <ul class="menu-adventure-select">
              <li><a class="adventure-type-select"><i class="icon-mountain-biking"></i><span>Mountain Biking</span></a></li>
              <li><a class="adventure-type-select"><i class="icon-biking"></i><span>Road Biking</span></a></li>
              <li><a class="adventure-type-select"><i class="icon-hiking"></i><span>Hiking</span></a></li>
            </ul>
          </div>
        </div>
        <div class="large-6 medium-6 columns">
          <div class="input-group">
            <span class="input-group-label yazda-input-label"><i class="ion-ios-search"></i></span>
            <input id="create-location" class="input-group-field" type="search" placeholder="Where are you adventuring?" required />
          </div>
          <!-- Error -->
          <span class="form-error">
            Please type a location
          </span>
          <!-- End Error -->

          <!-- Expanding Map -->
          <a data-toggle="googleMap" type="button" class="button small secondary expanded show-for-small-only toggle-map-btn">Show Map</a>
          <div id="googleMap" class="create-map-container" data-toggler=".map-toggle" data-animate="fade-in fade-out">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d98221.16093364758!2d-105.08745528752915!3d39.70793895329334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1463788669407" width="100%" height="100%" frameborder="0" style="border:0"
                allowfullscreen></iframe>
          </div>

        </div>
        <div class="large-6 medium-6 columns">
          <div class="input-group">
            <span class="input-group-label yazda-input-label"><i class="icon-mountain-biking"></i></span>
            <input id="create-adventure-name" class="input-group-field" type="text" placeholder="Adventure Name" required />
          </div>
          <!-- Error -->
          <span class="form-error">
            Adventure Name must be at least 5 characters
          </span>
          <!-- End Error -->

          <div class="input-group">
            <span class="input-group-label yazda-input-label middle"><i class="ion-ios-clock-outline"></i><div class="input-label-addon">
                          Start Time
                        </div></span>
            <input id="create-start-time" class="input-group-field datetimepicker text-right" type="text" placeholder="Start Time" required />
          </div>
          <!-- Error -->
          <span class="form-error">
            Adventure Start Time is required.
          </span>
          <!-- End Error -->

          <div class="input-group">
            <span class="input-group-label yazda-input-label"><i class="ion-ios-clock"></i><div class="input-label-addon">
                          End Time
                        </div></span>
            <input id="create-end-time" class="input-group-field datetimepicker text-right" type="text" placeholder="End Time" required />
          </div>
          <!-- Error -->
          <span class="form-error">
            Adventure End Time is required.
          </span>
          <!-- End Error -->

          <!--<select id="create-club-type-select" required>
              <option value="not-club-adventure">Not A Club Adventure</option>
              <option value="club-adventure">Club Adventure</option>
          </select>-->

          <div class="input-group">
            <span class="input-group-label yazda-input-label" style="font-size: 16px;" data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" title="Set maximum number of friends to join your adventure. Minimum of 1. You can select friends on the next screen.">Max Attendees <i class="ion-ios-help-outline help-icon"></i></span>
            <input id="create-attendees" class="input-group-field text-right" type="number" placeholder="&#8734" required />
          </div>
          <!-- Error -->
          <span class="form-error">
            Must have at least 2 attendees.
          </span>
          <!-- End Error -->

          <div class="input-group">
            <span class="input-group-label yazda-input-label" style="font-size: 16px;" data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" title="Set this adventure to be viewable for everyone or just the friends you select.">Public <i class="ion-ios-help-outline help-icon"></i></span>
            <input id="public-switch" class="input-group-field" type="text" />
            <span class="input-group-label yazda-input-label" style="font-size: 16px;">
              <div class="switch">
                <input class="switch-input" id="publicSwitch" type="checkbox" name="publicSwitch">
                <label class="switch-paddle" for="publicSwitch"><span class="show-for-sr">Public Adventure?</span></label>
          </div>
          </span>
        </div>
      </div>

      <div class="large-12 columns">
        <textarea placeholder="Description (for example, difficulty, pace, mileage and post adventure celebration)"></textarea>
      </div>

      <div class="large-12 columns">
        <a data-scroll href="#panel2" id="invite-friends-btn" class="button energized expanded create-cta-btn" onclick="open_tab('adventure-create-tabs','panel2')">Next</a>
      </div>

    </div>
  </div>
  <div class="tabs-panel" id="panel2">
    <!-- Select Friends -->
    {{> item-list-friend-select}}

    <div class="large-12 columns">
      <input class="button balanced expanded create-cta-btn" type="submit" value="Create Your Adventure!" />
    </div>
  </div>
  </div>
</form>
