<!-- BEGIN OFF-CANVAS MENU -->
<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>

  <!-- Close button -->
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <!-- Main Nav -->
  <ul class="vertical menu">
    <li><a href="dashboard.html"><i class="icon-avatar"></i> Dashboard</a></li>
    <li><a href="adventure-list.html"><i class="icon-adventures"></i> Adventures</a></li>
    <li><a href="user-show.html"><i class="icon-profile"></i> Profile</a></li>
    <li><a href="index.html"><i class="ion-log-out"></i> Sign Out</a></li>
  </ul>
</div>
<!-- END OFF-CANVAS MENU -->
