@font-face {
  font-family: 'yazda';
  src: url('../fonts/yazda.eot?v67sln');
  src: url('../fonts/yazda.eot?v67sln#iefix') format('embedded-opentype'), url('fonts/yazda.ttf?v67sln') format('truetype'), url('../fonts/yazda.woff?v67sln') format('woff'),
  url('../fonts/yazda.svg?v67sln#yazda') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*=" yazda-"],
[class^="yazda-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yazda' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.yazda-add-adventure:before {
  content: "\e900";
}
.yazda-adventures:before {
  content: "\e901";
}
.yazda-trail-running:before {
  content: "\e902";
}
.yazda-biking:before {
  content: "\e903";
}
.yazda-chain:before {
  content: "\e904";
}
.yazda-clubs:before {
  content: "\e905";
}
.yazda-hiking:before {
  content: "\e906";
}
.yazda-invites:before {
  content: "\e907";
}
.yazda-mountain-biking:before {
  content: "\e908";
}
.yazda-profile:before {
  content: "\e909";
}
.yazda-running:before {
  content: "\e90a";
}
.yazda-avatar:before {
  content: "\e90b";
}
