---
browserTitle: Yazda – Discover Adventure.
pageTitle: Yazda – Discover Adventure.
description: Yazda is an active community of hikers and mountain bikers who create and partake in group outdoor adventures.
---

{{> header-in}}

<!-- Adventure Show Banner -->

{{> banner-adventure-show}}

<!-- End Adventure Show Banner -->

<div id="adventure-show-content" class="content-inner-wrapper-show expanded row">

  <!-- Main Content -->
  <div class="large-8 medium-12 columns">

    <div class="adventure-skill-level medium">
      <div class="skill-level icon-mountain-biking-skill-level-3 md"></div>
      <h5>Skill level: <span>medium</span></h5>
    </div>

    <div class="adventure-info">

      <div class="description">
        <p>Id sea debitis vivendum scriptorem. Vix et rebum pertinax disputationi. Delenit offendit ut eam, eos modus dicta instructior eu. Mentitum sensibus eu pro, no enim denique argumentum eos. Bonorum posidonium definitionem ad qui. Per errem quidam expetendis ut, dicat sanctus eos id. Ad utamur deleniti eos, an vidit abhorreant duo, aperiri corrumpit sed no. Id sea debitis vivendum scriptorem. Vix et rebum pertinax disputationi. Delenit offendit ut eam, eos modus dicta instructior eu. Mentitum sensibus eu pro, no enim denique argumentum eos.

        Bonorum posidonium definitionem ad qui. Per errem quidam expetendis ut, dicat sanctus eos id. Ad utamur deleniti eos, an vidit abhorreant duo, aperiri corrumpit sed no. Id sea debitis vivendum scriptorem. Vix et rebum pertinax disputationi. Delenit offendit ut eam, eos modus dicta instructior eu. Mentitum sensibus eu pro, no enim denique argumentum eos. Bonorum posidonium definitionem ad qui. Per errem quidam expetendis ut, dicat sanctus eos id. Ad utamur deleniti eos, an vidit abhorreant duo, aperiri corrumpit sed no. Id sea debitis vivendum scriptorem.

        Vix et rebum pertinax disputationi. Delenit offendit ut eam, eos modus dicta instructior eu. Mentitum sensibus eu pro, no enim denique argumentum eos. Bonorum posidonium definitionem ad qui. Per errem quidam expetendis ut, dicat sanctus eos id. Ad utamur deleniti eos, an vidit abhorreant duo, aperiri corrumpit sed no.
      </p>
      </div>

      <div class="expanded row adventure-users" style="margin-bottom: 0 !important;">

        <div class="large-12 medium-6 columns adventurers-stats">
          <h4><span>6</span> adventurers said YA</h4>
          <div class="user-show-image">
            <a href="user-show.html" class="user-avatar thumb-show" title="User Name">
              <img src="assets/img/badges/placeholder-avatar.svg" />
              <div class="badge-adventure-leader sm" title="Adventure Leader"></div>
            </a>
            <span class="user-image-name">James Stoup</span>
          </div>
          <div class="user-show-image">
            <a href="user-show.html" class="user-avatar thumb-show" title="User Name">
              <img src="assets/img/badges/placeholder-avatar.svg" /></a>
            <span class="user-image-name">Something Something</span>
          </div>
          <div class="user-show-image">
            <a href="user-show.html" class="user-avatar thumb-show" title="User Name">
              <img src="assets/img/badges/placeholder-avatar.svg" /></a>
            <span class="user-image-name">Jack Sparrow</span>
          </div>
          <div class="user-show-image">
            <a href="user-show.html" class="user-avatar thumb-show" title="User Name">
              <img src="assets/img/badges/placeholder-avatar.svg" /></a>
            <span class="user-image-name">Ned Flanders</span>
          </div>
          <div class="user-show-image">
            <a href="user-show.html" class="user-avatar thumb-show" title="User Name">
              <img src="assets/img/badges/placeholder-avatar.svg" /></a>
            <span class="user-image-name">Smeagol</span>
          </div>
          <div class="user-show-image">
            <a href="user-show.html" class="user-avatar thumb-show" title="User Name">
              <img src="assets/img/badges/placeholder-avatar.svg" /></a>
            <span class="user-image-name">daenerys targaryen</span>
          </div>
        </div>

        <div class="large-12 medium-6 columns">
          <div class="adventurers-stats adventurers-stats-small">
            <h4><span>16</span> adventurers invited</h4>
            {{#repeat 12}}
              {{> user-show-image}}
            {{/repeat}}
            <div class="user-show-image">
              <a href="user-show.html" class="user-avatar thumb-show" title="User Name">
                <img src="assets/img/badges/placeholder-avatar.svg" />
                <div class="badge-adventure-leader sm" title="Adventure Leader"></div>
              </a>
              <span class="user-image-name">User Name</span>
            </div>
            {{#repeat 3}}
              {{> user-show-image}}
            {{/repeat}}
          </div>

          <div class="adventurers-stats adventurers-stats-small">
            <h4><span>5</span> adventurers said NA</h4>
            {{#repeat 2}}
              {{> user-show-image}}
            {{/repeat}}
            <div class="user-show-image">
              <a href="user-show.html" class="user-avatar thumb-show" title="User Name">
                <img src="assets/img/badges/placeholder-avatar.svg" />
                <div class="badge-adventure-leader sm" title="Adventure Leader"></div>
              </a>
              <span class="user-image-name">User Name</span>
            </div>
            {{#repeat 2}}
              {{> user-show-image}}
            {{/repeat}}
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-12 columns">



    <!-- Messages -->
    {{> item-list-chat}}
    <!-- Adventure Show Items -->
    {{> adventure-show-items}}
    <!-- Ads -->
    {{> ads}}
    <!-- Clubs -->
    {{> item-list-club}}

  </div>
  <!-- End Sidebar -->
</div>

{{> footer}}
