---
browserTitle: Create New Adventure
pageTitle: Create New Adventure
description: Create a new Yazda adventure.
---

{{> header-in}}

<div class="content-inner-wrapper expanded row">

  <!-- Main Content -->
  <div class="large-9 medium-12 columns">

    <!-- Begin Adventure Create Form -->
    {{> form-adventure-create-edit}}
    <!-- End Adventure Create Form -->

  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-3 medium-12 columns">

    <!-- Ads -->
    {{> ads}}
    {{> ads-sponsored}}
    {{> ads}}

  </div>
  <!-- End Sidebar -->
</div>

{{> footer}}
