---
browserTitle: Search Adventure
pageTitle: Search Adventure
description: Search for available Yazda adventures.
---

{{> header-in}}

<div class="content-inner-wrapper expanded row">

  <!-- Main Content -->
  <div class="large-8 medium-6 columns">

    {{>item-list-adventure}}

  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-6 columns">

    <!-- Ads -->
    {{> ads}}
    {{> ads-sponsored}}

  </div>
  <!-- End Sidebar -->
</div>

{{> footer}}
