---
browserTitle: Messages
pageTitle: Messages
---
<style>
  @media screen and (max-width: 1023px) {
      footer {display: none;}
  }
</style>

{{> header-in}}

<div class="content-inner-wrapper expanded row">

  <!-- Main Content -->
  <div class="large-8 medium-12 columns">

    {{> chat-show}}

  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-12 columns show-for-large">

    <!-- Ads -->
    {{> ads-sponsored}}
    {{> ads}}

  </div>
  <!-- End Sidebar -->

</div>

{{> footer}}
