---
browserTitle: Create New Club
pageTitle: Create New Club
description: Create a new Yazda club.
---

{{> header-in}}

<div class="content-inner-wrapper expanded row">

  <!-- Main Content -->
  <div class="large-8 medium-12 columns">

    <!-- Begin Club Create Form -->
    {{> form-club-create}}
    <!-- End Club Create Form -->

  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-12 columns">

    <!-- Ads -->
    {{> ads}}

  </div>
  <!-- End Sidebar -->
</div>

{{> footer}}
