---
browserTitle: Yazda – Discover Adventure.
pageTitle: Yazda – Discover Adventure.
description: Yazda is an active community of hikers and mountain bikers who create and partake in group outdoor adventures.
---

{{> header-in}}

<div class="content-inner-wrapper row">

  <!-- Main Content -->
  <div class="large-8 medium-6 columns">
    <!-- List Adventures -->
    {{> item-list-adventure}}
  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-6 columns">
    <!-- New Adventure Invites -->
    {{> item-list-invites}}
    <!-- Ads -->
    {{> ads-sponsored}}
    <!-- New Friend Requests -->
    {{> item-list-friend-request}}
    <!-- Clubs -->
    {{> item-list-club}}
  </div>
  
  <!-- End Sidebar -->
</div>

{{> footer}}
