---
browserTitle: Welcome to Yazda
pageTitle: Welcome to Yazda
description: Welcome to the wonderful world of my home page.
---

<div id="fold-register" class="expanded row fold fold-register">
  <div class="fold-background background-register"></div>
  <div class="fold-content">
    <a href="index.html"><img class="homepage-logo" src="assets/img/logo/yazda_full_horizontal_shadow.png" /></a>
    <div class="homepage-register-form">
      <form action="post">
        <div class="row">
          <div class="large-4 medium-4 columns">
            <input type="email" placeholder="Email" />
          </div>
          <div class="large-4 medium-4 columns">
            <input type="password" placeholder="Password" />
          </div>
          <div class="large-4 medium-12 columns">
            <div class="row">
              <div class="input-group">
                <input class="expanded button energized register-submit-btn" type="submit" value="Sign In" />
              </div>
            </div>
          </div>
      </form>
      </div>
      <div class="disclaimer">By clicking "Begin Your Adventure" you agree to our <a href="https://yazdaapp.com/terms-of-service/">Terms Of Use</a> and <a href="https://yazdaapp.com/privacy/">Privacy Policy</a></div>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <a class="expanded button facebook api-login-btn"><img class="facebook-logo" src="assets/img/logo/facebook.svg" /> <span>Sign in with Facebook</span></a>
        </div>
        <div class="large-6 medium-6 columns">
          <a class="expanded button strava api-login-btn"><img class="strava-logo" src="assets/img/logo/strava.svg" /> <span>Sign in with Strava</span></a>
        </div>
      </div>
      <div class="menu-centered">
        <ul class="menu">
          <li><a href="index.html" title="Register for an account">Not registered yet?</a></li>
          <li><span>•</span></li>
          <li><a>Forgot password?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{> footer}}
