---
browserTitle: Yazda – Discover Adventure.
pageTitle: Yazda – Discover Adventure.
description: Yazda is an active community of hikers and mountain bikers who create and partake in group outdoor adventures.
---

{{> header-out}}

<div id="fold-register" class="expanded row fold fold-register">
  <div class="fold-background background-register"></div>
  <div class="fold-content">
    <a href="home.html"><img class="homepage-logo" src="assets/img/logo/yazda_full_horizontal_shadow.png" /></a>
    <div class="homepage-register-form">
      <form action="post" class="logged-out-form">
        <div class="row">
          <div class="large-3 medium-4 columns">
            <input type="text" placeholder="Name" />
          </div>
          <div class="large-3 medium-4 columns">
            <input type="email" placeholder="Email" />
          </div>
          <div class="large-3 medium-4 columns">
            <input type="password" placeholder="Password" />
          </div>
          <div class="large-3 medium-12 columns">
            <div class="row">
              <div class="input-group">
                <input class="expanded button energized register-submit-btn" type="submit" value="Begin Your Adventure!" />
              </div>
            </div>
          </div>
      </form>
      </div>
      <div class="disclaimer">By clicking "Begin Your Adventure" you agree to our <a href="https://yazdaapp.com/terms-of-service/">Terms Of Use</a> and <a href="https://yazdaapp.com/privacy/">Privacy Policy</a></div>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <a class="expanded button facebook api-login-btn"><img class="facebook-logo" src="assets/img/logo/facebook.svg" /> <span>Register with Facebook</span></a>
        </div>
        <div class="large-6 medium-6 columns">
          <a class="expanded button strava api-login-btn"><img class="strava-logo" src="assets/img/logo/strava.svg" /> <span>Register with Strava</span></a>
        </div>
      </div>
      <div class="menu-centered">
        <ul class="menu">
          <li><a href="sign-in.html" title="Sign into your account">Already on Yazda?</a></li>
          <li><span>•</span></li>
          <li><a data-open="passwordModal" title="Reset your password">Forgot password?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="fold-apps" class="expanded row fold fold-apps">
  <div class="fold-background "></div>
  <div class="fold-content">
    <div class="row">
      <div class="large-6 medium-6 columns">
        <img class="app-screen" src="assets/img/appscreens/screen1.png" />
      </div>
      <div class="large-6 medium-6 columns">
        <h4 class="fold-heading-1">Yazda is a <span>mobile app</span> for mountain bikers and hikers to schedule or find their next outdoor adventure.</h4>
          <a href="https://itunes.apple.com/us/app/yazda/id983846853?ls=1&mt=8" target="_blank"><img class="appstore-logo" src="assets/img/icons/AppStoreIcons_AppStore.svg" /></a>
          <a href="https://play.google.com/store/apps/details?id=com.yazda.yazda_ios&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank"><img class="appstore-logo" src="assets/img/icons/AppStoreIcons_GooglePlay.svg" /></a>
      </div>

  </div>
</div>
</div>
<div id="fold-features" class="expanded row fold fold-features">
  <div class="fold-background "></div>
  <div class="fold-content">
    <div class="large-4 medium-4 columns">
      <h4 class="fold-heading-2"><i class="icon-adventure-add"></i><span>Connect</span></h4>
      <p>
        Open the app to connect and discover your next adventure. Yazda displays relevant adventures in your area and makes it easy to go out and explore
      </p>
    </div>
    <div class="large-4 medium-4 columns">
      <h4 class="fold-heading-2"><i class="icon-mountain-biking"></i><span>Experience</span></h4>
      <p>
        Show up to your adventure at the specified time and location. Every adventure in Yazda has a location and a start time.
      </p>
    </div>
    <div class="large-4 medium-4 columns">
      <h4 class="fold-heading-2"><i class="icon-clubs"></i><span>Celebrate</span></h4>
      <p>
        What would an epic adventure be without a celebration at the end? Enjoy post ride and hike revelries with your new friends.
      </p>
    </div>
  </div>
</div>
<div id="fold-video" class="expanded row fold fold-video">
  <div class="fold-background "></div>
    <div class="flex-video widescreen">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/2pfA5VqauSU" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div id="fold-features-2" class="expanded row fold fold-features-2">
  <div class="fold-content">
    <div class="large-12 medium-12 columns">
      <h5 class="fold-heading-3">The <span>Yazda app connects you with other outdoor enthusiasts</span>. So instead of individually contacting your hiking and mountain biking friends about hitting the trails, Yazda allows you to easily invite them (and get invited) to local adventures.</h5>
      <h5 class="fold-heading-3">Just launch Yazda on your phone, and <span>your adventure feed will show a list of hikes and rides in your area</span>. If you’d like to create a new adventure, simply plug in an adventure name, location, time, and whether it’s hiking or biking. You can then post this for everyone in your area to see, or you can make it a private event and select who you’d like to invite.</h5>
      <h5 class="fold-heading-3">With the Yazda app, you will have the best tool for meeting new people while exploring local trails.</h5>
    </div>
  </div>
</div>
<div id="fold-image-1" class="expanded row fold fold-image-1">
  <div class="fold-background background-image1"></div>
</div>
<div id="fold-clubs" class="expanded row fold fold-clubs">
  <div class="fold-background"></div>
  <div class="fold-content">
    <div class="large-6 medium-6 columns">
      <h3 class="fold-heading-3"><span>Be an Adventure Leader</span></h3>
      <p>
        If you possess vast trail knowledge and an epic sense of humor, this is the perfect place for you! The Yazda community includes knowledgeable and skilled hikers and bikers who enjoy sharing their favorite trails with others.</p>
        <p>It’s super easy to create an adventure in the Yazda app – just add an adventure title, location, date, time, and whether it’s hiking or biking. Then you can announce it to the local Yazda community or invite a private group of personal friends.</p>
    </div>
    <div class="large-6 medium-6 columns">
      <h3 class="fold-heading-3"><span>Join Create a club</span></h3>
      <p>
        Show up to your adventure at the specified time and location. Every adventure in Yazda has a location and a start time.
      </p>
    </div>
  </div>
</div>

{{> password-recover-modal}}

{{> footer}}
