---
browserTitle: Yazda – Discover Adventure.
pageTitle: Yazda – Discover Adventure.
description: Yazda is an active community of hikers and mountain bikers who create and partake in group outdoor adventures.
---

{{> header-apps}}

{{> header-out}}

<div id="fold-register" class="expanded row fold fold-register">
  <div class="fold-background background-register"></div>
  <div class="fold-content">
    <a href="index.html"><img class="homepage-logo" src="assets/img/logo/yazda_full_horizontal_shadow.png" /></a>

    <div class="homepage-register-form">

      <div class="row">
        <div class="large-6 medium-6 columns">
          <button class="expanded button strava api-login-btn"><img class="strava-logo" src="assets/img/logo/strava.svg" /> <span>Register with Strava</span></button>
        </div>
        <div class="large-6 medium-6 columns">
          <!--buttonclass="expanded button facebook api-login-btn loading-btn"><img class="facebook-logo" src="assets/img/logo/facebook.svg" /> <span>Register with Facebook</span></button-->

          <!-- Loading Button -->
          <button class="expanded button facebook api-login-btn"><div class="loading-btn sm"><img class="facebook-logo" src="assets/img/logo/facebook.svg" /><span>Please Wait...</span></div></button>

        </div>
      </div>

      <form action="post" class="logged-out-form" data-abide novalidate>

        <div class="row">
          <div class="large-3 medium-4 columns">
            <input id="userName" type="text" placeholder="Name" autocomplete="name" required />
            <!-- Error -->
            <span class="form-error">
              Yo, please use both your first and last name!
            </span>
            <!-- End Error -->
          </div>
          <div class="large-3 medium-4 columns">
            <input id="emailAddress" type="email" placeholder="Email" autocomplete="email" required />
            <!-- Error -->
            <span class="form-error">
              Nope, you need to use a valid email address.
            </span>
            <!-- End Error -->
          </div>
          <div class="large-3 medium-4 columns">
            <input id="password" type="password" placeholder="Password" autocomplete="new-password" required />
            <!-- Error -->
            <span class="form-error">
              Password must be at least 8 characters.
            </span>
            <!-- End Error -->
          </div>

          <div class="large-3 medium-12 columns">
            <div class="row">
              <div class="input-group">
                <!--button class="expanded button energized register-submit-btn">Begin Your Adventure!</button-->

                <!-- Loading Button -->
                <button class="expanded button energized register-submit-btn"><div class="loading-btn md">Please wait...</div></button>

              </div>
            </div>
          </div>
      </form>

      </div>
      <div class="disclaimer">By clicking "Begin Your Adventure" you agree to our <a href="https://yazdaapp.com/terms-of-service/">Terms Of Use</a> and <a href="https://yazdaapp.com/privacy/">Privacy Policy</a></div>

      <div class="menu-centered">
        <ul class="menu">
          <li><a href="sign-in.html" title="Sign into your account">Already on Yazda?</a></li>
          <li><span>•</span></li>
          <li><a data-open="passwordModal" title="Reset your password">Forgot password?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="fold-apps" class="expanded row fold fold-apps">
  <div class="fold-background "></div>
  <div class="fold-content">
    <div class="row">
      <div class="large-6 medium-6 columns">
        <img class="app-screen" src="assets/img/appscreens/screen1.png" />
      </div>
      <div class="large-6 medium-6 columns">
        <h4 class="apps-heading">Yazda lets mountain bikers and hikers coordinate or find their next outdoor adventure.</h4>
        <a href="https://itunes.apple.com/us/app/yazda/id983846853?ls=1&mt=8" target="_blank" title="Get from App Store"><img class="appstore-logo" src="assets/img/icons/AppStoreIcons_AppStore.svg" /></a>
        <a href="https://play.google.com/store/apps/details?id=com.yazda.yazda_ios&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank" title="Download on Google Play"><img class="appstore-logo" src="assets/img/icons/AppStoreIcons_GooglePlay.svg" /></a>
      </div>
    </div>
  </div>
</div>

<div id="fold-features" class="expanded row fold fold-features">
  <div class="fold-background "></div>
  <div class="fold-content">
    <div class="large-4 medium-12 columns">
      <h4 class="features-heading">
        <img class="homepage-icon" src="assets/img/homepage/invites.svg" />
        <span>Connect</span>
      </h4>
      <p>
        Use the app to connect with fellow adventurers and discover your next adventure. Yazda displays relevant adventures in your area and makes it easy to go out and explore with others who share your love of the outdoors.
      </p>
    </div>
    <div class="large-4 medium-12 columns">
      <h4 class="features-heading">
        <img class="homepage-icon" src="assets/img/homepage/adventure-add.svg" />
        <span>Create</span>
      </h4>
      <p>It’s super easy to create an adventure &mdash; just add an adventure title, location, date, time, and type. Then you can announce it publically to the local Yazda community or invite a private group of personal friends.</p>
    </div>
    <div class="large-4 medium-12 columns">
      <h4 class="features-heading">
        <img class="homepage-icon" src="assets/img/homepage/chat.svg" />
        <span>Chat</span>
      </h4>
      <p>What would an epic adventure be without the post-adventure revelries? Message friends to fine-tune events and get pumped, hang out, cool down and share some adventure drinks, tales and trailmix. Awesometime? Yes, please!</p>
    </div>
  </div>
</div>

<div id="fold-video" class="expanded row fold fold-image">
  <div class="fold-background background-image"></div>
</div>

<!-- TODO video
<div id="fold-video" class="expanded row fold fold-video">
  <div class="flex-video widescreen">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2pfA5VqauSU" frameborder="0" allowfullscreen></iframe>
  </div>
</div> -->

<div id="fold-clubs" class="expanded row fold fold-features">
  <div class="fold-content">
    <div class="large-6 medium-12 columns">
      <h4 class="features-heading">
        <img class="homepage-icon" src="assets/img/homepage/club-add.svg" />
        <span>Create & join clubs</span>
      </h4>
      <p>Use Yazda to schedule your club rides. There's no fee, it's easy to setup and every adventure your club does stands out with a banner image behind it making your adventures stand out more. It's easy to make other members adventure leaders in Yazda.</p>
    </div>
    <div class="large-6 medium-12 columns">
      <h4 class="features-heading">
        <img class="homepage-icon" src="assets/img/homepage/adventure-leader.svg" />
        <span>Be an Adventure Leader</span>
      </h4>
      <p>If you possess vast trail knowledge and an epic sense of humor, this is the perfect place for you! The Yazda community includes knowledgeable and skilled hikers and bikers &mdash; <span>Adventure Leaders</span> &mdash; who enjoy sharing their favorite trails with others.</p>
    </div>
  </div>
</div>

<div id="fold-image-1" class="expanded row fold fold-image">
  <div class="fold-background background-image1"></div>
</div>

<div id="fold-features-2" class="expanded row fold fold-features">
  <div class="fold-background fold-features-2-background"></div>
  <div class="fold-content">
    <div class="large-6 medium-12 columns">
      <h4 class="features-heading">
        <img class="homepage-icon" src="assets/img/homepage/backpack.svg" />
        <span>Experience & share</span>
      </h4>
      <p>Even if you’re a recent transplant, visiting for a weekend, or looking to hike or mountain bike a new trail, Yazda provides the best opportunity to connect you with other outdoor enthusiasts. So instead of individually contacting your hiking and mountain biking friends about hitting the trails, Yazda allows you to easily invite them (and get invited) to local adventures.</p>
    </div>
    <div class="large-6 medium-12 columns">
      <h4 class="features-heading">
        <img class="homepage-icon" src="assets/img/homepage/compass.svg" />
        <span>Adventure with confidence</span>
      </h4>
      <p>With the Yazda app, you will have the best tool for meeting new people while exploring local trails. Your Yazda adventure feed will show a list of hikes and rides in your area. Once you’ve found an adventure that piques your interest, select YA to attend or NA to decline. Forward it to friends who might be interested, and then show up at the specified time and location.</p>
    </div>
  </div>
</div>

<div id="fold-image-2" class="expanded row fold fold-image">
  <div class="fold-background background-image2"></div>
</div>

<div id="fold-partners" class="expanded row fold fold-partners" data-equalizer>
  <div class="fold-content">
    <h4 class="partners-heading">
      <span>Trusted by our partners</span>
    </h4>
    <div class="large-4 medium-4 columns">
      <div class="partners-logo" data-equalizer-watch>
        <a href="http://comba.org/" target="_blank"><img src="assets/img/logo/comba-logo.png" /></a>
      </div>
    </div>
    <div class="large-4 medium-4 columns">
      <div class="partners-logo" data-equalizer-watch>
        <a href="http://www.more-mtb.org/" target="_blank"><img src="assets/img/logo/more-logo.png" /></a>
      </div>
    </div>
    <div class="large-4 medium-4 columns">
      <div class="partners-logo" data-equalizer-watch>
        <a href="https://www.imba.com/" target="_blank"><img src="assets/img/logo/imba-logo.png" /></a>
      </div>
    </div>
  </div>
</div>

{{> modal-newsletter}}
{{> modal-password-recover}}

{{> footer}}
