---
browserTitle: Messages
pageTitle: Messages
---
<style>
  @media screen and (max-width: 1023px) {
      footer {display: none;}
  }
</style>

{{> header-in}}

<div class="content-inner-wrapper expanded row">

  <!-- Main Content -->
  <div class="large-8 medium-12 columns">

    <div class="item-list friends">

      <!-- <div class="input-group input-search-friends">
        <span class="input-group-label yazda-input-label"><i class="ion-ios-search"></i></span>
        <input id="search-friends" class="input-group-field" type="search" placeholder="Search friends or clubs..." />
      </div> -->

      <div class="friend-list-content friend-select-content message-create-content expanded row small-collapse">
        {{#repeat 20}}
          {{> item-friend-select}}
        {{/repeat}}
      </div>

      <div class="chat-show-footer" keyboard-attach>
        <form id="" class="new-message-submit">
          <div class="input-group">
            <textarea class="input-group-field" type="text" placeholder="Type your message..."></textarea>
            <div class="input-group-button">
              <input type="submit" class="button new-message-send-btn" value="SEND">
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-12 columns show-for-large">

    <!-- Ads -->
    {{> ads-sponsored}}
    {{> ads}}

  </div>
  <!-- End Sidebar -->

</div>

{{> footer}}
