---
browserTitle: Messages
pageTitle: Messages
---

{{> header-in}}

<div class="content-inner-wrapper expanded row">

    <!-- Main Content -->
    <div class="large-8 medium-6 columns hide-for-small-only">

      {{> chat-show}}

    </div>
    <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-6 columns">

    <!-- New Friend Requests -->
    {{> item-list-messages-select}}

  </div>
  <!-- End Sidebar -->


</div>

{{> footer}}
