---
browserTitle: Reference page
pageTitle: Reference page
---

<div class="expanded row">
  <div class="callout">
    <h3>We&rsquo;re stoked you want to try Foundation! </h3>
    <p>To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>
    <p>Once you've exhausted the fun in this document, you should check out:</p>
    <div class="row">
      <div class="large-4 medium-4 columns">
        <p><a href="http://foundation.zurb.com/docs">Foundation Documentation</a>
          <br />Everything you need to know about using the framework.</p>
      </div>
      <div class="large-4 medium-4 columns">
        <p><a href="http://zurb.com/university/code-skills">Foundation Code Skills</a>
          <br />These online courses offer you a chance to better understand how Foundation works and how you can master it to create awesome projects.</p>
      </div>
      <div class="large-4 medium-4 columns">
        <p><a href="http://foundation.zurb.com/forum">Foundation Forum</a>
          <br />Join the Foundation community to ask a question or show off your knowlege.</p>
      </div>
    </div>
    <div class="row">
      <div class="large-4 medium-4 medium-push-2 columns">
        <p><a href="http://github.com/zurb/foundation">Foundation on Github</a>
          <br />Latest code, issue reports, feature requests and more.</p>
      </div>
      <div class="large-4 medium-4 medium-pull-2 columns">
        <p><a href="https://twitter.com/ZURBfoundation">@zurbfoundation</a>
          <br />Ping us on Twitter if you have questions. When you build something with this we'd love to see it (and send you a totally boss sticker).</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 medium-8 columns">
    <h5>Here&rsquo;s your basic grid:</h5>
    <!-- Grid Example -->

    <div class="row">
      <div class="large-12 columns">
        <div class="primary callout">
          <p><strong>This is a twelve column section in a row.</strong> Each of these includes a div.callout element so you can see where the columns are - it's not required at all for the grid.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <div class="primary callout">
          <p>Six columns</p>
        </div>
      </div>
      <div class="large-6 medium-6 columns">
        <div class="primary callout">
          <p>Six columns</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-4 medium-4 small-4 columns">
        <div class="primary callout">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="primary callout">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="primary callout">
          <p>Four columns</p>
        </div>
      </div>
    </div>

    <hr />

    <h5>We bet you&rsquo;ll need a form somewhere:</h5>
    <form>
      <div class="row">
        <div class="large-12 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-12.columns" />
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <input type="text" placeholder="large-4.columns" />
        </div>
        <div class="large-4 medium-4 columns">
          <input type="text" placeholder="large-4.columns" />
        </div>
        <div class="large-4 medium-4 columns">
          <div class="row collapse">
            <div class="input-group">
              <span class="input-group-label yazda-input-label"><i class="ion-ios-clock"></i></span>
              <input class="input-group-field" type="text" placeholder="input-group" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <select>
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <label>Choose Your Favorite</label>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed">
          <label for="pokemonRed">Radio 1</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
          <label for="pokemonBlue">Radio 2</label>
        </div>
        <div class="large-6 medium-6 columns">
          <label>Check these out</label>
          <input id="checkbox1" type="checkbox">
          <label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox">
          <label for="checkbox2">Checkbox 2</label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Textarea Label</label>
          <textarea placeholder="small-12.columns"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="large-4 medium-4 columns">
    <h5>Try one of these buttons:</h5>
    <p><a href="reference.html" class="tiny button">Tiny Button</a>
      <br/>
      <a href="#" class="small success button">Small Btn</a>
      <br/>
      <a href="#" class="balanced hollow button">Default Btn</a>
      <br/>
      <a href="#" class="large secondary button">Large Btn</a></p>
    <div class="callout">
      <h5>So many components, girl!</h5>
      <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details on making them your own.</p>
      <a href="http://foundation.zurb.com/docs/" class="small button">Go to Foundation Docs</a>
    </div>
  </div>

  <div class="large-4 medium-4 columns">
    <ul class="tabs yazda-tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Adventures</a></li>
      <li class="tabs-title"><a href="#panel2">Clubs</a></li>
      <li class="tabs-title"><a href="#panel3">Invites</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="panel1">
        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
      </div>
      <div class="tabs-panel" id="panel2">
        <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
      </div>
      <div class="tabs-panel" id="panel3">
        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus</p>
        <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
      </div>
    </div>
  </div>

  <div class="large-4 medium-4 columns">
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Accordion 1</a>
        <div class="accordion-content" data-tab-content>
          I would start in the open state, due to using the `is-active` state class.
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Accordion 2</a>
        <div class="accordion-content" data-tab-content>
          I would start in the open state, due to using the `is-active` state class.
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Accordion 3</a>
        <div class="accordion-content" data-tab-content>
          I would start in the open state, due to using the `is-active` state class.
        </div>
      </li>
    </ul>
  </div>

  <div class="large-4 medium-4 columns">
    <div class="switch small yazda-switch">
      <input class="switch-input" id="smallSwitch" type="checkbox" name="exampleSwitch">
      <label class="switch-paddle" for="smallSwitch">
        <span class="show-for-sr">Public Adventure?</span>
      </label>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('.accordion .accordion-item').removeClass('active');
});
</script>
