---
browserTitle: Welcome to Yazda
pageTitle: Welcome to Yazda
description: Welcome to the wonderful world of my home page.
---

{{> header-out}}

<div id="fold-register" class="expanded row fold fold-register">
  <div class="fold-background background-register"></div>
  <div class="fold-content">
    <a href="index.html"><img class="homepage-logo" src="assets/img/logo/yazda_full_horizontal_shadow.png" /></a>

    <div class="homepage-register-form">

      <!-- Error -->
      <div data-abide-error class="alert callout" style="display: none;">
        <p>Aww nuts! Your email and password don't seem to be correct. Try again.</p>
      </div>
      <!-- End error -->

      <div class="row">
        <div class="large-6 medium-6 columns">
          <a class="expanded button strava api-login-btn"><img class="strava-logo" src="assets/img/logo/strava.svg" /> <span>Sign in with Strava</span></a>
        </div>
        <div class="large-6 medium-6 columns">
          <a class="expanded button facebook api-login-btn"><img class="facebook-logo" src="assets/img/logo/facebook.svg" /> <span>Sign in with Facebook</span></a>
        </div>
      </div>

      <form action="post" class="logged-out-form" data-abide novalidate>
        <div class="row">
          <div class="large-4 medium-6 columns">
            <input id="emailAddress" type="email" placeholder="Email" required />
            <!-- Error -->
            <span class="form-error">
              Nope, you need to use a valid email address.
            </span>
            <!-- End Error -->
          </div>
          <div class="large-4 medium-6 columns">
            <input id="password" type="password" placeholder="Password" required />
            <!-- Error -->
            <span class="form-error">
              Password must be at least 8 characters.
            </span>
            <!-- End Error -->
          </div>
          <div class="large-4 medium-12 columns">
            <div class="row">
              <div class="input-group">
                <input class="expanded button energized register-submit-btn" type="submit" value="Sign In" />
              </div>
            </div>
          </div>
      </form>
      </div>
      <div class="disclaimer">By signing in you agree to our <a href="https://yazdaapp.com/terms-of-service/">Terms Of Use</a> and <a href="https://yazdaapp.com/privacy/">Privacy Policy</a></div>

      <div class="menu-centered">
        <ul class="menu">
          <li><a href="index.html" title="Register for an account">Not a member yet?</a></li>
          <li><span>•</span></li>
          <li><a data-open="passwordModal" title="Reset your password">Forgot password?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{> password-recover-modal}}

{{> footer}}
