---
browserTitle: User Show page
Title: User Show
description: User profile.
---

{{> header-in}}

<!-- User / Club Banner -->

{{> banner-user-show}}

<!-- End User / Club Banner -->

<div id="user-show-content" class="content-inner-wrapper-show expanded row">

  <!-- Main Content -->
  <div class="large-8 medium-12 columns">

    <ul class="tabs user-show-tabs" data-tabs id="user-show-tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true"><i class="icon-adventures"></i> Adventures <span>5</span></a></li>
      <li class="tabs-title"><a href="#panel2"><i class="ion-ios-people"></i> Friends <span>10</span></a></li>
    </ul>
    <div class="tabs-content user-show-tabs-content" data-tabs-content="user-show-tabs">

      <div class="tabs-panel is-active" id="panel1">
        <!-- List Adventures -->
        {{> item-list-adventure}}
      </div>

      <div class="tabs-panel" id="panel2">
        {{> item-list-friend}}
      </div>
    </div>
  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-12 columns">
    <!-- New Friend Requests -->
    {{> item-list-invites}}
    <!-- Ads -->
    {{> ads-sponsored}}
    <!-- Search Friends -->
    {{> item-list-friend-request}}
  </div>
  <!-- End Sidebar -->
</div>

{{> footer}}
