<div class="adventure-info">
  <div class="item">
    <h5><span class="item-icon">10</span>Spots left!</h5>
  </div>
  <div class="item">
    <h5><a href="#" title="Download Liability Waiver"><span class="item-icon" style="color: white;"><i class="ion-android-download"></i></span>Liability waiver</a></h5>
  </div>
  <div class="item">
    <h5><a href="club-show.html"><span class="item-icon item-icon-image"><img src="assets/img/badges/badge_sponsored.svg" /></span>Sponsored by Yazda</a></h5>
  </div>
  <div class="item">
    <h5><span class="item-icon item-icon-image"><img src="assets/img/badges/badge_24hour.svg" /></span>24+ hour adventure</h5>
  </div>
</div>
