<div class="expanded row banner-show">

  <div class="button-group small to-tab-btn-group">
    <a data-scroll href="#panel1" class="button" onclick="open_tab('user-show-tabs','panel1')">Adventures</a>
    <a data-scroll href="#panel2" class="button" onclick="open_tab('user-show-tabs','panel2')">Friends</a>
  </div>

  <div class="show-background"></div>

  <div class="expanded row show-content">

    <div class="show-user-image">
      <div class="user-avatar profile"><img src="assets/img/badges/placeholder-avatar.svg" />
        <div class="badge-adventure-leader xl" title="Adventure Leader"></div>
      </div>
    </div>

    <div class="show-info">
      <h4 class="show-user-name">Club name</h4>
      <div class="show-location" title="View Location"><i class="ion-ios-location"></i> Location</div>
      <a data-scroll href="#panel2" class="show-website" title="View Website"><i class="ion-earth"></i> Website URL</a>
      <p class="show-adventures-created">Adventures created <span>15</span></p>

      {{> social-share}}

    </div>
  </div>

  <div id="show-description-container" class="expanded row show-description-container">
    <div class="large-8 medium-12 columns show-description">
      <p>Id sea debitis vivendum scriptorem. Vix et rebum pertinax disputationi. Delenit offendit ut eam, eos modus dicta instructior eu. Mentitum sensibus eu pro, no enim denique argumentum eos. Bonorum posidonium definitionem ad qui. Per errem quidam expetendis ut, dicat sanctus eos id. Ad utamur deleniti eos, an vidit abhorreant duo, aperiri corrumpit sed no. Id sea debitis vivendum scriptorem.

      Vix et rebum pertinax disputationi. Delenit offendit ut eam, eos modus dicta instructior eu. Mentitum sensibus eu pro, no enim denique argumentum eos. Bonorum posidonium definitionem ad qui. Per errem quidam expetendis ut, dicat sanctus eos id. Ad utamur deleniti eos, an vidit abhorreant duo, aperiri corrumpit sed no.
    </p>
    </div>

    <div class="large-4 medium-12 columns">
      <div class="add-friend-btn-wrapper" data-sticky-container>
        <a class="button expanded energized show-cta-btn sticky" title="Add this club as a friend" data-sticky data-anchor="club-show-content"><i class="ion-ios-plus-empty"></i> Join Club</a>
      </div>
      <a class="button expanded secondary show-cta-btn show-waiver-btn" title="View Club Waiver"><i class="ion-document-text"></i> View Club Waiver</a>
    </div>
  </div>
</div>
