<div class="expanded row banner-show">

  <div class="show-background show-adventure-background"></div>

  <div class="expanded row show-content">

    <div class="show-user-image">
      <div class="user-avatar profile"><img src="assets/img/badges/placeholder-avatar.svg" />
        <div class="badge-adventure-leader xl" title="Adventure Leader"></div>
      </div>
    </div>

    <div class="show-info">
      <div class="show-adventure-type"><i class="icon-mountain-biking"></i> Mountain Biking</div>
      <h4 class="show-user-name">Yazda - salida & monarch crest</h4>
      <div class="show-hosted">Hosted by <a href="user-show.html">James Stoup</a> via <a href="club-show.html">Yazda</a></div>
      <a href="#" class="show-time"><i class="ion-ios-clock"></i> May 27 at 8:00 PM to May 30 at 8:00 PM</a>
      <a href="https://www.google.ca/maps/place/Goose+Island+Campground+Rd,+Moab,+UT+84532,+USA/@38.610765,-109.5604449,17z/data=!3m1!4b1!4m5!3m4!1s0x8747e024dbcf5719:0x12693f24ffd8e193!8m2!3d38.6107608!4d-109.5582562" class="show-location" title="View Location"><i class="ion-ios-location"></i> Goose island campground rd, moab, UT, 84532, USA</a>

      {{> social-share}}

    </div>
  </div>

  {{#ifpage 'adventure-show'}}
    <div class="ya-na-btn-group-show-container" data-sticky-container>
      <div class="button-group ya-na-btn-group-show sticky" data-sticky data-anchor="adventure-show-content">
        <a type="button" class="button ya-na-btn" title="Select to accept invitation">YA</a>
        <a type="button" class="button ya-na-btn" title="Select to decline invitation">NA</a>
      </div>
    </div>
  {{/ifpage}}
  {{#ifpage 'adventure-cancelled'}}
    <div class="ya-na-cancelled-container" data-sticky-container>
      <div class="button expanded alert"  data-sticky data-anchor="adventure-show-content">This adventure has been cancelled.</div>
    </div>
  {{/ifpage}}
</div>
