<div class="chat-show-wrapper">

  <div class="item-list-header chat-show-header">
    <a href="adventure-show.html" title="View adventure"><h3 class="single-line-text"><i class="icon-mountain-biking"></i> Yazda - salida & monarch crest</h3></a>
    <a href="adventure-show.html" title="View adventure" class="chat-show-adventurers">
      6 adventurers
    </a>
  </div>

  <div class="chat-show-content">

    <div class="row">
      <div class="chat-bubble left">
        <div class="chat-pic-left">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">This is some typical message text that I have written</p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble right">
        <div class="chat-pic-right">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way he talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
        </p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble left">
        <div class="chat-pic-left">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">LOL ok. Who is this?</p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble right">
        <div class="chat-pic-right">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
        </p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble left">
        <div class="chat-pic-left">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">Nice to meet you, Mr. Glass
          btw my name's not David</p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble right">
        <div class="chat-pic-right">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">Do you see any Teletubbies in here?</p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble right">
        <div class="chat-pic-right">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">Do you see a slender plastic tag clipped to my shirt with my name printed on it?
        </p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble left">
        <div class="chat-pic-left">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">Uh...
          ...</p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble right">
        <div class="chat-pic-right">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it?
        </p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble right">
        <div class="chat-pic-right">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">Do you?</p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble left">
        <div class="chat-pic-left">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">dafug??? </p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble right">
        <div class="chat-pic-right">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
        </p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble left">
        <div class="chat-pic-left">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">I don't have a child named Jeb
          YOU HAVE THE WRONG PERSON</p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble right">
        <div class="chat-pic-right">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.
        </p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="chat-bubble left">
        <div class="chat-pic-left">
          <img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </div>
        <p class="chat-text">OMG STOP</p>
        <div class="chat-detail">
          <strong>User Name</strong> &middot;
          <span>2 hours ago</span>
        </div>
      </div>
    </div>

  </div>

  <div class="chat-show-footer" keyboard-attach>
    <form id="" class="new-message-submit">
      <div class="input-group">
        <textarea class="input-group-field" type="text" placeholder="Type your message..."></textarea>
        <div class="input-group-button">
          <input type="submit" class="button new-message-send-btn" value="SEND">
        </div>
      </div>
    </form>
  </div>

</div>
