<!-- Chat Button -->
{{#ifpage 'dashboard'}}
  <div class="chat-btn chat-btn-dashboard show-for-small-only">
    <a data-open="messageModal" title="Messages">
      <i class="ion-chatbubble-working"></i>
      <span class="badge alert">8</span>
    </a>
  </div>

  <div class="chat-btn chat-btn-dashboard show-for-medium">
    <a data-open="messageModal" title="Messages">
      <i class="ion-chatbubble-working"></i>
      <span class="badge alert">8</span>
    </a>
  </div>
{{/ifpage}}

{{#ifpage 'adventure-show'}}
  <div class="chat-btn hide-for-large">
    <a href="chat-show.html" title="2 new messages for this adventure" class="new-messages">
      <i class="ion-chatbubbles"></i>
      <span class="badge alert">8</span>
    </a>
  </div>
{{/ifpage}}

<!-- {{#ifpage 'user-show' 'club-show'}}
  <div class="chat-btn hide-for-large">
    <a data-open="messageModal" title="Messages">
      <i class="ion-chatbubbles"></i>
      <span class="badge alert">8</span>
    </a>
  </div>
{{/ifpage}} -->
