<div class="small button-group club-role-btn-group">
  <a type="button" class="button secondary club-role-btn"><i class="ion-person"></i> Member</a>
  <a type="button" class="button secondary club-role-btn"><i class="ion-android-star"></i> Leader</a>
  <a type="button" class="button secondary club-role-btn"><i class="ion-gear-a"></i> Admin</a>
</div>
