</div>
<!-- END CONTENT -->

{{> item-list-reveals}}

<!-- BEGIN FOOTER -->
<footer id="footer" class="main-footer">
  <div class="social-media-links">
    <!--<h5 class="footer-heading">Find Us On</h5>-->
    <ul>
      <li class="facebook"><a href="https://www.facebook.com/yazdaapp" title="Find us on Facebook" target="_blank"><i class="ion-social-facebook"></i></a></li>
      <li class="twitter"><a href="https://twitter.com/yazda_app" title="Find us on Twitter" target="_blank"><i class="ion-social-twitter"></i></a></li>
      <li class="youtube"><a href="https://www.youtube.com/channel/UCcuKd0jf72qlkiC_Jg-Z2wQ" title="Find us on YouTube" target="_blank"><i class="ion-social-youtube"></i></a></li>
      <li class="instagram"><a href="https://www.instagram.com/yazda_app" title="Find us on Instagram" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
      <li class="email"><a href="https://yazdaapp.com/contact/" title="Contact us" target="_blank"><i class="ion-email"></i></a></li>
    </ul>
  </div>
  <div class="copyright">
    ©
    <script type="text/javascript">
      document.write(new Date().getFullYear());
    </script> Yazda LLC. All Rights Reserved.
    <div class="menu-centered">
      <ul class="menu">
        <li><a href="https://yazdaapp.com/privacy/">Privacy policy</a></li>
        <li><span>•</span></li>
        <li><a href="https://yazdaapp.com/terms-of-service/">Terms of use </a></li>
      </ul>
    </div>
  </div>
</footer>
<!-- END FOOTER -->
</div>
</div>
</div>
