<form id="user-edit-form" class="edit-form" method="post" data-abide>

  <div class="expanded row banner-show">

    <div class="show-background edit-background"></div>

    <!-- Error -->
    <div data-abide-error class="alert callout" style="display: none;">
      <p>Aww nuts! You have some errors. Please correct them.</p>
    </div>
    <!-- End error -->

    <div class="expanded row show-content">

      <div class="background-upload-wrapper show-for-large">
        <label for="backgroundFileUpload" class="button" title="Upload Background"><i class="ion-ios-cloud-upload"></i> <span>Upload Background</span></label>
        <input type="file" id="backgroundFileUpload" class="show-for-sr" />
      </div>

      <div class="show-user-image">
        <div class="user-avatar profile"><img src="assets/img/badges/placeholder-avatar.svg" /></div>
        <label for="avatarFileUpload" class="button show-for-large" title="Upload Picture"><i class="ion-ios-cloud-upload"></i> <span>Upload Picture</span></label>
        <input type="file" id="avatarFileUpload" class="show-for-sr show-for-large" />
      </div>

      <div class="show-info">
        <label for="avatarFileUpload" class="button small energized hide-for-large"><i class="ion-ios-cloud-upload"></i> Upload Picture</label>
        <input type="file" id="avatarFileUpload" class="show-for-sr hide-for-large" />
        <label for="backgroundFileUpload" class="button small energized hide-for-large"><i class="ion-ios-cloud-upload"></i> Upload Background</label>
        <input type="file" id="backgroundFileUpload" class="show-for-sr hide-for-large" />

        <input id="edit-club-name" class="input-group-field" type="text" placeholder="Name" required />
        <!-- Error -->
        <span class="form-error">
          Please include first and last name.
        </span>
        <!-- End Error -->

        <input id="edit-location" class="input-group-field" type="search" placeholder="What's your location?" required />
        <!-- Error -->
        <span class="form-error">
          Please type a location.
        </span>
        <!-- End Error -->

        <input id="edit-url" class="input-group-field" type="url" placeholder="Website (optional)" />
        <!-- Error -->
        <span class="form-error">
          Website url must be valid url
        </span>
        <!-- End Error -->

        <textarea placeholder="A little about yourself... (optional)"></textarea>
      </div>
    </div>
  </div>
</form>
