<form id="form-club-create" class="form-create" method="post" data-abide novalidate>

  <!-- Error -->
  <div data-abide-error data-closable class="alert callout yazda-alert" style="display: none;">
    <p>Aww nuts! You have some errors. Please correct them.</p>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
    </button>
  </div>
  <!-- End error -->

  <div class="item-list-header">
    <h3><i class="icon-club-add"></i> Create Club</h3>
  </div>

  <div class="expanded row large-collapse medium-collapse small-collapse">

    <div class="large-12 medium-12 columns">

      <div class="input-group">
        <span class="input-group-label yazda-input-label"><i class="ion-ios-location"></i></span>
        <input id="create-location" class="input-group-field" type="search" placeholder="What's your location?" required />
      </div>
      <!-- Error -->
      <span class="form-error">
        Please type a location
      </span>
      <!-- End Error -->

      <div class="input-group">
        <span class="input-group-label yazda-input-label"><i class="icon-clubs"></i></span>
        <input id="create-club-name" class="input-group-field" type="text" placeholder="Club Name" required />
      </div>
      <!-- Error -->
      <span class="form-error">
        Club Name must be at least 5 characters
      </span>
      <!-- End Error -->

      <div class="input-group">
        <span class="input-group-label yazda-input-label"><i class="ion-earth"></i></span>
        <input id="create-club-url" class="input-group-field" type="url" placeholder="Website" />
      </div>
      <!-- Error -->
      <span class="form-error">
        Website url must be valid
      </span>
      <!-- End Error -->

      <div class="input-group upload-waiver-wrapper show-for-large">
        <label for="waiverFileUpload" class="button expanded create-upload-waiver-btn"><span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Upload an indemnity waiver form for your club that participants can view. Joining the adventure means they accept the terms and conditions.">Upload Club Waiver <i class="ion-ios-help-outline help-icon"></i></span></label>
        <i class="icon ion-upload"></i>
        <input type="file" id="waiverFileUpload" class="show-for-sr" />
      </div>

      <textarea placeholder="A little about your Club (optional)"></textarea>
    </div>
  </div>

  <div class="large-12 columns">
    <input class="button balanced expanded create-cta-btn" type="submit" value="Create Your Club!" />
  </div>
</form>
