<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    {{> nav-off-canvas-in}}

    <div class="off-canvas-content" data-off-canvas-content>

      <!-- BEGIN HEADER -->
      <header>
        <div class="top-bar logged-in main-nav">

          {{> nav-header-left}}

          <!-- Right Menu Links -->
          <ul class="menu menu-header-links align-right nav-header-right">
            <li><a href="user-show.html" title="Your Profile"><i class="icon-profile"></i></a></li>
            <li><a href="adventure-create.html" title="Create Adventure"><i class="icon-adventure-add"></i></a></li>
          </ul>

        </div>
      </header>
      <!-- END HEADER -->

      <!-- BEGIN CONTENT -->
      <div class="content-wrapper">
