<div class="apps-wrapper hide-for-large" data-closable>
  <div class="apps-content expanded row">
    <div class="large-12 medium-12 columns">
      <div class="app-icon">
        <img src="assets/img/icons/YazdaAppIcon.png" alt="Yazda app icon">
      </div>
      <div class="app-info">
        <h6>Yazda <span>For your next biking or hiking adventure.</span></h6>
        <a type="button" href="https://bnc.lt/yazda" class="tiny button hollow balanced app-download-btn" title="Download from App Store or Google Play" target="_blank">Get</a>
      </div>
    </div>
    <!--<div class="large-6 medium-12 columns">
      <div class="app-icon">
        <img src="assets/img/icons/TrailStatusAppIcon.png" alt="Trail Status app icon">
      </div>
      <div class="app-info">
        <h6>Trail Status <span>Up-to-date conditions for select trails.</span></h6>
        <a type="button" href="https://bnc.lt/m/quEQxwC2zo" class="tiny button hollow balanced app-download-btn" title="Download from App Store or Google Play" target="_blank">Get</a>
      </div>
    </div>-->
  </div>
  <button class="close-button" aria-label="Dismiss" type="button" data-close>
    <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
  </button>
</div>
