<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    {{> nav-off-canvas-out}}

    <div class="off-canvas-content" data-off-canvas-content>

      <!-- BEGIN HEADER -->
      <header>
        <div class="top-bar logged-out main-nav main-nav-fixed main-nav-top">

          <ul class="menu menu-header-links menu-header-links-out">
            <!--<li><a data-scroll href="#fold-apps">Features</a></li>
            <li><a data-scroll href="#fold-clubs">Clubs</a></li>
            <li><a data-scroll href="#fold-features-2">Highlights</a></li>
            <li><a data-scroll href="#fold-partners">Partners</a></li>-->
            <li><a href="https://yazdaapp.com/blog/">Blog</a></li>
            <li><a href="https://yazdaapp.com/contact/">Contact</a></li>
          </ul>

          <!-- Off-Canvas Toggle (sm/md screens only) -->
          <div class="menu-toggle-left menu-toggle-left-loggedOut">
            <i class="ion-navicon" type="button" aria-controls="offCanvas" data-toggle="offCanvas" title="Menu"></i><span class="sr-only"> Menu</span>
          </div>
          <div class="header-logo">
            <a href="index.html"><img src="assets/img/logo/yazda_hor_notagline.svg" /></a>
          </div>
          <div class="menu-signup">
            <!--a type="button" class="button small hollow balanced signin-btn" href="dashboard.html">Sign In</a-->

            <!-- Loading Button -->
            <a type="button" class="button small hollow balanced signin-btn" href="dashboard.html"><div class="loading-btn sm">Please wait...</div></a>

            <a type="button" class="button small hollow balanced signin-btn" data-scroll href="#fold-register">Register</a>
          </div>
      </header>
      <!-- END HEADER -->

      <!-- BEGIN CONTENT -->
      <div class="content-wrapper" style="padding: 0 !important;">
