<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    {{> nav-off-canvas-in}}

    <div class="off-canvas-content" data-off-canvas-content>

      <!-- BEGIN HEADER -->
      <header>
        <div class="top-bar logged-in main-nav">

          <!-- Off-Canvas Toggle -->
          <div class="menu-toggle-left menu-toggle-left-loggedIn">
            <i class="ion-navicon" type="button" aria-controls="offCanvasLeft" data-toggle="offCanvasLeft" title="Menu"></i><span class="sr-only"> Menu</span>
          </div>

          <!-- Logo -->
          <div class="header-logo">
            <a href="index.html"><img src="assets/img/logo/yazda_hor_notagline.svg" /></a>
          </div>

          <!-- Right Menu Links -->
          <ul class="menu menu-header-links align-right nav-header-right">
            <li><a href="dashboard.html" title="Cancel Adventure Creation">Cancel</a></li>
          </ul>

        </div>
      </header>
      <!-- END HEADER -->

      <!-- BEGIN CONTENT -->
      <div class="content-wrapper">
