<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    {{> nav-off-canvas-in}}

    <div class="off-canvas-content" data-off-canvas-content>

      <!-- BEGIN HEADER -->
      <header>
        <div class="top-bar logged-in main-nav">

          {{> nav-header-left}}

          <!-- Right Menu Links -->
          <ul class="menu menu-header-links align-right nav-header-right">
            {{#ifpage 'chat-show' 'messages-dashboard' 'messages-mobile' }}
              <li><a href="javascript:history.back()" title="Done">Done</a></li>
            {{/ifpage}}
            {{#ifpage 'dashboard'}}
              <li><a href="user-show.html" title="Your Profile"><i class="icon-profile"></i></a></li>
            {{/ifpage}}
            {{#ifpage 'message-create'}}
              <li><a href="javascript:history.back()" title="Cancel New Message">Cancel</a></li>
            {{/ifpage}}
            {{#ifpage 'adventure-create'}}
              <li><a href="javascript:history.back()" title="Cancel Adventure Creation">Cancel</a></li>
            {{/ifpage}}
            {{#ifpage 'adventure-show' 'adventure-cancelled'}}
              <li><a href="adventure-edit.html" title="Edit Adventure">Edit</a></li>
              <li><a href="adventure-create.html" title="Create Adventure"><i class="icon-adventure-add"></i></a></li>
            {{/ifpage}}
            {{#ifpage 'adventure-edit'}}
              <li><a href="adventure-show.html" title="Save changes to this adventure">Save</a></li>
            {{/ifpage}}
            {{#ifpage 'club-create'}}
              <li><a href="javascript:history.back()" title="Cancel Club Creation">Cancel</a></li>
            {{/ifpage}}
            {{#ifpage 'club-edit'}}
              <li><a href="club-show.html" title="Save Club">Save</a></li>
            {{/ifpage}}
            {{#ifpage 'user-show'}}
              <li><a href="user-edit.html" title="Edit Profile">Edit</a></li>
            {{/ifpage}}
            {{#ifpage 'user-edit'}}
              <li><a href="user-show.html" title="Save Profile">Save</a></li>
            {{/ifpage}}
            {{#ifpage 'club-show'}}
              <li><a href="club-edit.html" title="Edit Club">Edit</a></li>
              <li><a href="club-create.html" title="Create Club"><i class="icon-club-add"></i></a></li>
            {{/ifpage}}
            {{#ifpage 'dashboard' 'adventure-list' 'club-show' 'user-show' 'messages-show'}}
              <li><a href="adventure-create.html" title="Create Adventure"><i class="icon-adventure-add"></i></a></li>
            {{/ifpage}}
          </ul>
        </div>
      </header>
      <!-- END HEADER -->

      {{> search-dropdown}}

      <!-- BEGIN CONTENT -->
      <div class="content-wrapper row">
