<div class="item-list adventures">

  {{#ifpage 'dashboard' 'adventure-list'}}
    <div class="item-list-header item-adventures-header">
      <h3><i class="icon-adventures"></i> Adventures</h3>
      <div class="tally">5</div>
    </div>
  {{/ifpage}}

  {{#ifpage 'dashboard'}}
    {{> no-adventures}}
  {{/ifpage}}

  <div class="item-list-content">
    <div class="item-list-divider">Friday, June 10th</div>
    {{> item-adventure}}
    <div class="item-list-divider">Saturday, June 18th</div>
    {{> item-adventure-2}}
    {{> item-adventure-3}}
    <div class="item-list-divider">Saturday, June 25th</div>
    {{> item-adventure-5}}
    {{> item-adventure-4}}
  </div>

  {{> pagination}}

</div>
