<article class="large-12 columns">
  <div class="item item-friend">
    <div class="sidebar-item-image">
      <a href="user-show.html" class="user-avatar thumb-user"><img src="assets/img/badges/placeholder-avatar.svg" />
        <div class="badge-adventure-leader sm" title="Adventure Leader"></div>
      </a>
    </div>
    <div class="sidebar-item-content">
      <div class="single-line-text">
        <a href="user-show.html" class="user-name">User name</a>
      </div>
      <div class="adventure-location single-line-text">
        <i class="ion-ios-location"></i> Lakewood, CO, USA
      </div>
    </div>
  </div>
</article>
