<article class="item item-friend item-messages message-select">
  <div class="sidebar-item-image">
    <a href="chat-show.html" class="user-avatar thumb-user">
      <img src="assets/img/badges/placeholder-avatar.svg" />
      <div class="badge-adventure-leader sm" title="Adventure Leader"></div>
    </a>
  </div>
  <div class="sidebar-item-content">
    <div class="single-line-text">
      <a href="chat-show.html" class="user-name">User name</a>
    </div>
    <div class="message-time">2 hours ago</div>
    <a href="chat-show.html" class="message-text single-line-text">
        This is some typical message text that I have written
      </a>
  </div>
  <a href="chat-show.html" class="badge badge-message" title="2 new messages in this conversation"><span class="badge-message-arrow"></span>2</a>
</article>
