<div class="item-list friends show-for-medium">
  <div class="item-list-header">
    <h3><i class="icon-avatar"></i> Do you know?</h3>
  </div>
  <div class="friend-list-content">
    {{#repeat 4}}
      {{> item-friend-request}}
    {{/repeat}}
  </div>
</div>
