<div class="item-list item-list-messages hide-for-small-only">
  <div class="item-list-header">
    <h3><i class="ion-chatbubbles"></i> Messages</h3>
    <div class="tally">8</div>
  </div>

  {{#ifpage 'user-show'}}
    <a href="message-create.html" type="button" class="button tiny primary new-message-btn" title="New message to (user name)"><i class="ion-compose"></i></a>
  {{/ifpage}}

  {{#ifpage 'club-show'}}
    <a href="message-create.html" type="button" class="button tiny primary new-message-btn" title="New message to (club name)"><i class="ion-compose"></i></a>
  {{/ifpage}}

  <div class="messages-list-content">
    {{#repeat 8}}
      {{> item-messages}}
    {{/repeat}}
  </div>
</div>
