<article class="item item-club">
  <div class="sidebar-item-image">
    <a href="club-show.html" class="user-avatar thumb-invite"><img src="assets/img/badges/placeholder-avatar.svg" /></a>
  </div>
  <div class="sidebar-item-content">
    <div class="single-line-text">
      <a href="club-show.html" class="adventure-name">Yazda Adventures</a>
    </div>
    <div class="adventure-location single-line-text">
      <i class="ion-ios-location"></i> Lakewood, CO, USA
    </div>
    <div class="adventure-number">
      12 adventures
    </div>
  </div>
</article>
