<article class="item adventure-item">

  <div class="item-background"></div>

  <div class="row item-content">
    <div class="large-6 medium-12 columns">
      <a href="adventure-show.html" class="adventure-type">
        <i class="icon-hiking"></i> Hiking
        <div class="adventure-time">12:00pm</div>
      </a>
      <div class="single-line-text">
        <a href="adventure-show.html" class="adventure-name">Super very long Adventure name</a>
      </div>
      <div class="single-line-text">
        <a href="adventure-show.html" class="adventure-location">28636-28830 redskin creek rd, pine, CO, 80470, USA</a>
      </div>
      <div class="event-badge-wrapper">
        <div class="event-badge badge-sponsored sm" title="Yazda sponsored event"></div>
        <div class="event-badge badge-hour sm" title="24+ hour event"></div>
      </div>
    </div>

    <div class="large-5 medium-12 columns">
      <div class="adventure-number">
        <a href="chat-show.html" class="event-badge badge badge-message" title="6 messages for this adventure"><div class="badge-message-arrow"></div>6</a>
          6 adventurers
          <span>6 spots left!</span>
      </div>
      <div class="adventure-users">
        <a href="user-show.html" class="user-avatar thumb" title="User Name"><img src="assets/img/badges/placeholder-avatar.svg" />
          <div class="badge-adventure-leader xs" title="Adventure Leader"></div>
        </a>
        <a href="user-show.html" class="user-avatar thumb" title="User Name"><img src="assets/img/badges/placeholder-avatar.svg" /></a>
        <a href="user-show.html" class="user-avatar thumb" title="User Name"><img src="assets/img/badges/placeholder-avatar.svg" /></a>
        <a href="user-show.html" class="user-avatar thumb" title="User Name"><img src="assets/img/badges/placeholder-avatar.svg" /></a>
        <a href="user-show.html" class="user-avatar thumb" title="User Name"><img src="assets/img/badges/placeholder-avatar.svg" /></a>
      </div>
    </div>

    <div class="large-1 medium-12 columns">
      <div class="skill-level-wrapper hard">
        <div class="skill-level-badge skill-level icon-hiking-skill-level-4 sm" title="Skill Level: Hard"></div>
        <span>hard</span>
      </div>
    </div>

  </div>
</article>
