<div class="item-list item-list-messages item-list-messages-select">
  <div class="item-list-header">
    <h3><i class="ion-chatbubbles"></i> Messages</h3>
  </div>
  <a href="message-create.html" type="button" class="button tiny primary new-message-btn" title="New message"><i class="ion-compose"></i></a>
  <div class="messages-list-content">
    {{#repeat 8}}
      {{> item-messages-select}}
    {{/repeat}}
  </div>
</div>
