<div class="item-list friends">
  <div class="item-list-header">
    <h3 data-tooltip aria-haspopup="true" class="has-tip bottom" data-disable-hover="false" tabindex="2" title="Select friends to join your adventure. Minimum of 1."><i class="ion-ios-help-outline help-icon"></i> Select Friends</h3>
  </div>
  <div class="input-group input-search-friends">
    <span class="input-group-label yazda-input-label"><i class="ion-ios-search"></i></span>
    <input id="search-friends" class="input-group-field" type="search" placeholder="Search friends..." />
  </div>
  <div class="friend-list-content friend-select-content expanded row small-collapse">
    {{#repeat 10}}
      {{> item-friend-select}}
    {{/repeat}}
  </div>
</div>
