<div class="item-list item-list-chat show-for-large">
  <div class="item-list-header" data-toggle="panel" title="Show/Hide Messages">
    <h3><i class="ion-chatbubbles"></i> Messages</h3>
    <div class="tally">8</div>
  </div>
  <div class="chat-list-content" id="panel" data-toggler data-animate="fade-in fade-out">
    {{> chat-show}}
  </div>
</div>
