<div class="item-list show-for-medium">
  <div class="item-list-header">
    <h3><i class="icon-invites"></i> New Adventure Invites</h3>
    <div class="tally">8</div>
  </div>
  <div class="invite-list-content">
    {{#repeat 8}}
      {{> item-invite}}
    {{/repeat}}
  </div>
</div>
