<div class="item-list clubs">
  <div class="item-list-header">
    <h3><i class="icon-clubs"></i> Clubs of interest</h3>
    <div class="tally">5</div>
  </div>
  <div class="club-list-content">
    {{#repeat 5}}
      {{> item-club}} 
    {{/repeat}}
  </div>
</div>
