<article class="item item-friend item-friend-request">
  <div class="sidebar-item-image">
    <a href="user-show.html" class="user-avatar thumb-user"><img src="assets/img/badges/placeholder-avatar.svg" />
      <div class="badge-adventure-leader sm" title="Adventure Leader"></div>
    </a>
  </div>
  <div class="sidebar-item-content">
    <div class="single-line-text">
      <a href="user-show.html" class="user-name">User name</a>
    </div>
    <div class="adventure-location single-line-text">
      <i class="ion-ios-location"></i> Lakewood, CO, United States
    </div>
  </div>
  <div class="ya-na-btn-wrapper">
    <div class="tiny button balanced">Add Friend</div>
  </div>
</article>
