<article class="large-6 columns">
  <div class="item item-friend friend-select">
    <div class="sidebar-item-image">
      <div class="user-avatar thumb-user"><img src="assets/img/badges/placeholder-avatar.svg" />
        <div class="badge-adventure-leader sm" title="Adventure Leader"></div>
      </div>
    </div>
    <div class="sidebar-item-content">
      <div class="single-line-text">
        <div class="user-name">User name</div>
      </div>
      <div class="adventure-location single-line-text">
        <i class="ion-ios-location"></i> Lakewood, CO, United States
      </div>
    </div>
    <div class="user-selected-check"><i class="ion-ios-checkmark"></i></div>
  </div>
</article>
