<article class="item item-invite">
  <div class="sidebar-item-image">
    <a href="adventure-show.html" class="user-avatar thumb-invite" title="User Name"><img src="assets/img/badges/placeholder-avatar.svg" />
      <div class="badge-adventure-leader sm" title="Adventure Leader"></div>
    </a>
  </div>
  <div class="adventure-time">12:00pm</div>
  <div class="sidebar-item-content">
    <a href="adventure-show.html" class="adventure-type">Mountain Biking</a>
    <div class="single-line-text">
      <a href="adventure-show.html" class="adventure-name">Adventure name</a>
    </div>
    <div class="adventure-number">
      6 adventurers
    </div>
  </div>
</article>
