<div class="item-list friends">
  <div class="input-group input-search-friends">
    <span class="input-group-label yazda-input-label"><i class="ion-ios-search"></i></span>
    <input id="search-friends" class="input-group-field" type="search" placeholder="Search friends..." required />
  </div>
  <div class="friend-list-content expanded row small-collapse">
    {{#repeat 6}}
      {{> item-friend-sidebar}}
    {{/repeat}}
  </div>
</div>
