<!-- BEGIN NEWSLETTER POPUP -->
<div class="reveal newsletter-popup" id="newsletterModal" data-reveal>
  <h2 class="center-text">Looking for new trails &amp adventures?</h2>
  <h5 class="center-text">Join us on Yazda &amp <strong>Discover Adventure!</strong></h5>
  <form action="post" class="password-modal">
    <div class="row">
      <div class="large-12 medium-12 columns">
        <input class="center-text forgot-password-input" type="email" placeholder="Email Address" />
      </div>
      <div class="large-12 medium-12 columns">
        <div class="input-group">
          <input class="expanded button energized register-submit-btn" type="submit" value="Sign Me Up!" />
        </div>
      </div>
    </div>
  </form>
  <div class="center-text"><a href="#" data-close>No thanks, I don't like to have fun.</a></div>
  <button class="close-button" data-close aria-label="Close reveal" type="button" title="Cancel">
    <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
  </button>
</div>
<!-- END NEWSLETTER POPUP -->
