<!-- BEGIN MESSAGES MODAL -->
<div class="reveal item-list-reveal" id="messageModal" data-reveal>

  <div class="item-list item-list-messages">
    <div class="item-list-header">
      <h3><i class="ion-chatbubbles"></i> Messages</h3>
      <div class="tally">8</div>
    </div>

    {{#ifpage 'dashboard'}}
      <a href="message-create.html" type="button" class="button tiny primary new-message-btn new-message-btn-modal" title="New message">
         <i class="ion-compose"></i>
       </a>
    {{/ifpage}}

    {{#ifpage 'user-show'}}
      <a href="message-create.html" type="button" class="button tiny primary new-message-btn new-message-btn-modal" title="New message to (user-name)">
         <i class="ion-compose"></i>
       </a>
    {{/ifpage}}

    {{#ifpage 'club-show'}}
      <a href="message-create.html" type="button" class="button tiny primary new-message-btn new-message-btn-modal" title="New message to (club-name)">
         <i class="ion-compose"></i>
       </a>
    {{/ifpage}}

    <div class="messages-list-content">
        {{> item-messages}}
        {{> item-messages-2}}
        {{> item-messages-3}}
        {{> item-messages}}
        {{> item-messages-2}}
        {{> item-messages-3}}
        {{> item-messages}}
        {{> item-messages}}
    </div>
  </div>

  <button class="close-button" data-close aria-label="Close reveal" type="button" title="Cancel">
    <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
  </button>
</div>
<!-- END MESSAGES MODAL -->
