<!-- BEGIN CONFIRM DELETE MODAL -->
<div class="tiny reveal" id="confirmDeleteModal" data-reveal>
  <h4 class="center-text">Say it ain't so!</h4>
  <p class="center-text">Do you really want to cancel this adventure?
    <br />This can't be undone.</p>
  <div class="row">
    <div class="large-12 medium-12 columns center-text">
      <a type="button" href="adventure-cancelled.html" class="button small alert">Yes</a>
      <a type="button" data-close class="button small calm">No</a>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button" title="Cancel">
    <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
  </button>
</div>
<!-- END CONFIRM DELETE MODAL -->
