<!-- BEGIN PASSWORD RECOVER MODAL -->
<div class="tiny reveal" id="passwordModal" data-reveal>
  <h4 class="center-text">Forgot your password?</h4>
  <p class="center-text">Enter your email address to request a password reset.</p>
  <form action="post" class="password-modal">
    <div class="row">
      <div class="large-12 medium-12 columns">
        <input class="center-text forgot-password-input" type="email" placeholder="Email" />
      </div>
      <div class="large-12 medium-12 columns">
        <div class="input-group">
          <input class="expanded button energized register-submit-btn" type="submit" value="Send Request" />
        </div>
      </div>
    </div>
  </form>
  <button class="close-button" data-close aria-label="Close reveal" type="button" title="Cancel">
    <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
  </button>
</div>
<!-- END PASSWORD RECOVER MODAL -->
