<!-- BEGIN NEW FRIEND REQUESTS MODAL -->
<div class="reveal item-list-reveal" id="requestModal" data-reveal>
  <div class="item-list friends">
    <div class="item-list-header">
      <h3><i class="icon-avatar"></i> New Friend Requests</h3>
      <div class="tally">4</div>
    </div>
    <div class="friend-list-content">
      {{#repeat 4}}
        {{> item-friend-request}}
      {{/repeat}}
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button" title="Cancel">
    <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
  </button>
</div>
<!-- END NEW FRIEND REQUESTS MODAL -->
