<!-- BEGIN NEW ADVENTURE INVITES MODAL -->
<div class="reveal item-list-reveal" id="inviteModal" data-reveal>
  <div class="item-list">
    <div class="item-list-header">
      <h3><i class="icon-invites"></i> New Adventure Invites</h3>
      <div class="tally">8</div>
    </div>
    <div class="invite-list-content">
      {{#repeat 8}}
        {{> item-invite}}
      {{/repeat}}
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button" title="Cancel">
    <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
  </button>
</div>
<!-- END NEW ADVENTURE INVITES MODAL -->
