<!-- BEGIN OFF-CANVAS MENU -->
<div class="off-canvas position-left" id="offCanvas" data-off-canvas>

  <!-- Close button -->
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <!-- Main Nav -->
  <ul class="vertical menu">
    <li> <a type="button" class="button small hollow balanced signin-btn" data-scroll href="#fold-register">Register</a></li>
    <li>
      <!--a type="button" class="button small hollow balanced signin-btn" href="dashboard.html">Sign In</a-->

      <!-- Loading Button -->
      <a type="button" class="button small hollow balanced signin-btn" href="dashboard.html">
        <div class="loading-btn sm">Please wait...</div>
      </a>

    </li>
    <!--<li><a data-scroll href="#fold-apps">Features</a></li>
    <li><a data-scroll href="#fold-clubs">Clubs</a></li>
    <li><a data-scroll href="#fold-features-2">Highlights</a></li>
    <li><a data-scroll href="#fold-partners">Partners</a></li>-->
    <li><a href="https://yazdaapp.com/blog/">Blog</a></li>
    <li><a href="https://yazdaapp.com/contact/">Contact</a></li>
  </ul>
</div>
<!-- END OFF-CANVAS MENU -->
