<!-- Off-Canvas Toggle -->
<div class="menu-toggle-left menu-toggle-left-loggedIn">
  <i class="ion-navicon" type="button" aria-controls="offCanvasLeft" data-toggle="offCanvasLeft" title="Menu"></i><span class="sr-only"> Menu</span>
</div>

{{> chat-button}}

{{#ifpage 'dashboard' 'adventure-show' 'user-show' 'club-show'}}
<!-- Invites/Requests menu (sm screens only) -->
<ul class="menu menu-header-links align-left nav-header-left">
  <li><a data-open="inviteModal" title="8 New Adventure Invites"><i class="icon-invites"></i><span class="badge alert">8</span></a></li>
  <li><a data-open="requestModal" title="4 New Friend Requests"><i class="icon-avatar"></i><span class="badge alert">4</span></a></li>
</ul>
{{/ifpage}}

{{#ifpage 'adventure-list' 'message-create'}}
<!-- Search bar dropdown -->
<ul class="menu menu-header-links align-left nav-header-left search-header-left">
  <li><a data-toggle="search-dropdown" title="Search"><i class="ion-ios-search"></i></a></li>
</ul>
{{/ifpage}}

{{#ifpage 'user-show'}}
<!-- New Message Button -->
  <a href="message-create.html" type="button" class="button tiny primary new-message-btn-2" title="New message to (user name)"><i class="ion-compose"></i></a>
{{/ifpage}}

{{#ifpage 'club-show'}}
<!-- New Message Button -->
  <a href="message-create.html" type="button" class="button tiny primary new-message-btn-2" title="New message to (club name)"><i class="ion-compose"></i></a>
{{/ifpage}}

<!-- Logo -->
<div class="header-logo">
  <a href="dashboard.html"><img src="assets/img/logo/yazda_hor_notagline.svg" /></a>
</div>
