<!-- No Adventures -->
<a href="adventure-create.html">
  <div class="callout no-adventures-created">
    <img src="assets/img/logo/yazda_image_only_white.svg" />
    <h3>No <strong>adventures</strong> in your area?</h3>
    <h3>Start by <strong>creating one now!</strong></h3>
  </div>
</a>
