<!-- Begin Pagination -->
<ul class="pagination text-center" role="navigation" aria-label="Pagination">
  <li class="pagination-previous disabled">Previous</li>
  <!--li class="current">1</li>
  <li><a href="#" aria-label="Page 2">2</a></li>
  <li><a href="#" aria-label="Page 3">3</a></li>
  <li><a href="#" aria-label="Page 4">4</a></li-->
  <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
</ul>
<!-- End Pagination -->
