<div class="button-group social-share">
  <a class="button facebook" title="Share on Facebook"><i class="ion-social-facebook"></i> <span>Share</span></a>
  <a class="button twitter" title="Share on Twitter"><i class="ion-social-twitter"></i> <span>Tweet</span></a>
  <!--a class="button google-plus" title="Share on Google+"><i class="ion-social-googleplus"></i> <span>Share</span></a-->
</div>
