<div class="user-show-image">
  <a href="user-show.html" class="user-avatar thumb-show" title="User Name">
    <img src="assets/img/badges/placeholder-avatar.svg" />
  </a>
  <span class="user-image-name">user name</span>
</div>
