{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=no">
  <title>{{browserTitle}}</title>
  <meta name="description" content "{{description}}" />
  <!-- App Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="assets/img/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/img/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/img/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/img/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/img/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/img/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/icons/favicon-16x16.png">
  <link rel="shortcut icon" href="/favicon.ico" type="assets/img/icons/image/x-icon">
  <link rel="icon" href="/favicon.ico" type="assets/img/icons/image/x-icon">
  <!-- Icon Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css">
  <link rel="stylesheet" href="{{root}}assets/fonts/yazda/yazda-icons.css">
  <!-- Styles -->
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>

  <!-- BEGIN OFF-CANVAS WRAPPER -->

  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{> body}}

  <!-- Core JS -->
  <script src="{{root}}assets/js/app.js"></script>

  <!-- END OFF-CANVAS WRAPPER -->

</body>

</html>
